kafka:
  bootstrap-servers: kafka1:29092,kafka2:29093,kafka3:29094
  topics:
    impression: impressions
    click: clicks
  group-id: ctr-calculator-group

clickhouse:
  url: jdbc:clickhouse://clickhouse:8123/default
  driver: com.clickhouse.jdbc.ClickHouseDriver

ctr:
  job:
    impression-topic: impressions
    click-topic: clicks
    group-id: ctr-calculator-group
    parallelism: 2
    checkpoint-enabled: true
    checkpoint-interval: 60000
    checkpoint-timeout: 600000
    checkpoint-min-pause: 5000
    checkpoint-max-concurrent: 1
    checkpoint-storage: file:///tmp/flink-checkpoints
    checkpointing-mode: EXACTLY_ONCE
    externalized-checkpoint-cleanup: RETAIN_ON_CANCELLATION
    restart-attempts: 3
    restart-delay-ms: 10000

flink:
  parallelism: 2
