kafka:
  bootstrap-servers: kafka1:29092
  topics:
    impression: impressions
    click: clicks
  group-id: ctr-calculator-group

redis:
  host: redis
  port: 6379

clickhouse:
  url: jdbc:clickhouse://clickhouse:8123/default
  driver: com.clickhouse.jdbc.ClickHouseDriver

flink:
  parallelism: 1
  checkpoint-interval: 60000
